@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Silkscreen:wght@700&display=swap');

* {
  font-family: 'Caveat', cursive;
font-family: 'Silkscreen', cursive;
}

.bg-grey {
  background-color: #f3f3f3 !important;
}

.bg-light {
  background-color: #ffffff !important;
}

.links {
  font-size: 18px;
}

.nav-link {
  transition: all 100ms ease-in-out;
}

.nav-link:hover{
  color: #093679 !important;
}
